<h1 mat-dialog-title>Editarcliente</h1>

<form [formGroup]="editForm" (ngSubmit)="onSubmitEdit()">
    <div mat-dialog-content>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="nombre" type="text" [(ngModel)]="nombre">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="apellido" type="text" [(ngModel)]="apellido">
        </mat-form-field>


        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Celular</mat-label>
            <input matInput formControlName="celular" [(ngModel)]="celular" >
        </mat-form-field>


        <div>
            <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid" [mat-dialog-close]="true">Editar</button>
        </div>
    </div>

</form>
