<h1 mat-dialog-title>Editar nueva cita</h1>

<div mat-dialog-content class="campos">

    <div class="select-client-container"> 
        <ng-select [items]="clientes" bindLabel="clientes" placeholder="Seleccionar cliente" appendTo="body"
            [(ngModel)]="selectedCliente" [searchable]="true">
       </ng-select>
    </div>


    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label >Titulo</mat-label>
        <input matInput [value]="title"> 
    </mat-form-field>
    

    <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Motivo de cita</mat-label>
        <textarea matInput [value]="motivo" style="resize: none;"></textarea>
    </mat-form-field>



    <div class="fecha-container">
        <input [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Fecha y hora" [value]="fecha_hora">
        <owl-date-time #dt1></owl-date-time>
    </div>

</div>


<div>
    <button mat-raised-button color="primary" type="submit">Editar</button>
</div>