<div class="agenda-container">
    <div class="agenda-title"><h1>AGENDA</h1></div>

    <div class="agenda-buttons">
        <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="openDialogAddCita()" >
           <a > <mat-icon>add</mat-icon> </a>
        </button>
    </div>





    <div class="agenda-calendar">
        <div *ngIf="!load" class="loading">
          <mat-spinner></mat-spinner>
        </div>

        <div *ngIf="load">
          <full-calendar [options]="calendarOptions"></full-calendar>
        </div>

    </div>


</div>
