<div class="sidebar">
    <div class="user-perfil">
        <div class="img-perfil">
            <img src="./assets/images/profile-user.png"/>
        </div>
    <br>
        <span>Rodrigo castro </span>
    </div>

    <hr>


    <div class="time">
        <span>{{dateInfo}}</span>
    </div>  

    <hr>

    <div class="navegacion">
        
        <div routerLink="./agenda" routerLinkActive="active-route"><mat-icon aria-hidden="false" aria-label="Example home icon">book icon</mat-icon>Agenda</div>
        <div routerLink="./clientes" routerLinkActive="active-route"><mat-icon aria-hidden="false" aria-label="Example home icon">person</mat-icon>Clientes</div>
    </div>

    <hr>


    <div class="helper">

    </div>

</div>
